*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
laravel/tests
laravel/resources/js
laravel/package.json
laravel/package-lock.json
laravel/composer.lock
laravel/eslint.config.js
laravel/vite.config.ts
laravel/tsconfig.json
vendor/
